<h1 class="title">Payment Successful</h1>

<div class="row justify-content-center">
  <div class="col-md-5 p-5 mt-2">
    <div style="color: green; font-size: 100px; text-align: center"><i class="fa fa-check-circle"></i></div>
    <br>
    
    <p class="font-weight-bold text-center">Your payment has been processed successfully.</p>
    <br>
    
    <p class="text-center"><%= link_to "Make New Order?", orderings_path %></p>
    <br>
    
  </div>  
</div>