<div style="padding-left: 30px; padding-right: 30px;">
  <h1>Hi <%= @customer.name %>,</h1>
  <p>We got a request to reset your My Food password.</p>

  <p>You can reset your password by clicking on the button below.</p>
  <br>

  <p class="parent"><%= link_to "Reset Password", forgotten_password_reset_password_url(email: @customer.email), class: "btn-reset-password" %></p><br>

  <p style="font-style: italic">This link will be valid for the next 24 hours.</p>

  <p>If you didn't request a password reset, <%= link_to "let us know", login_url %>.</p>
  <br>

</div>
