<h1 class="title">Password Reset Email Sent</h1>

<div class="row justify-content-center">
  <div class="col-md-5 p-5 mt-2">
    <div style="color: green; font-size: 100px; text-align: center"><i class="fa fa-check-circle"></i></div>
    <br>
    
    <p>We've just sent an email message to <span class="font-weight-bold"><%= @customer.email %></span> with a link to reset your password.</p>
    <br>
    
    <p>Please check your email and follow the link to enter a new password for your My Food account.</p>
    <br>
    
    <p>If you can't find the email in your inbox, check your junk or spam folder.</p>
    <br>
    
  </div>  
</div>

